/* Juhee Lee GIT414 Summer B */
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of styles.css */
/* Color palette var */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dark-gray: #222222;
    --light-gray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
}

/* Global */
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    line-height: 1.6;
    font-size: 1rem;
    color: var(--dark-gray);
}

/* Typography */
h1, h2, h3{
    font-family: 'Molle', cursive;
    font-size: italic;
}

h4, p, q, small, nav, button, form{
    font-family: 'Montserrat', sans-serif;
    font-size: normal;
}

/* Skip link */
#skip {
	position: absolute;
    background: var(--yellow);
    color: var(--black);
	left: 0;
	top: -400px;
	width: auto;
	height: auto;
    padding: 1em 2em;
    border: 2px solid;
    text-align: start;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    z-index: 100;
    transition: top 0.3s ease;
  }
  
  #skip:focus {
	top: 0;
    border-color: var(--black);
    outline: none;
  }

/* Header styles */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1em;
    background-image: linear-gradient(var(--teal), var(--white));
}

header img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 10px;
    height: auto;
    width: 50%;
}

h1 {
    grid-column: 1 / -1;
    font-size: 50px;
    padding-left: 25px;
}

header p {
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 30px;
    color: var(--black);
    grid-column: 1 / -1;
}

/* Hidden Menu */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Nav link styles */
nav {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    top: 1em;
    position: relative;
    align-items: center;
    justify-content: end;
}

#menu-toggle label {
    background-color: var(--yellow);
    padding: 0.5em 1em;
    cursor: pointer;
}

#menu-toggle input {
    display: none;
}

#menu-toggle ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--teal);
    text-align: center;
    list-style: none;
}

#menu-toggle input:checked + ul {
    display: block;
}

#menu-toggle ul li {
    padding: 1em;
    border-bottom: 1px solid var(--black);
}

#menu-toggle ul li a {
    display: block;
    color: var(--white);
    font-weight: bold;
}

#menu-toggle ul li.active a {
    background-color: var(--yellow);
    color: var(--black);
}

